*, *:before, *:after {
  transition: all 0.2s ease-in-out;
}

/*! Variables and gradeband values */
:root {
  --shadow-outline:
    0 0 0 0.0625rem rgba(0,0,0,0.1);
  --shadow-flat:
    0 0 0 0 rgba(0,0,0,0),
    0 0 0 0 rgba(0,0,0,0),
    0 0 0 0 rgba(0,0,0,0);
  --shadow-default:
    0 .0625rem .5rem 0 rgba(0, 0, 0, 0.12),
    0 .1875rem .25rem 0 rgba(0, 0, 0, 0.14),
    0 .1875rem .1875rem -.125rem rgba(0, 0, 0, 0.2);
  --shadow-hover:
    0 .1875rem .875rem .125rem rgba(0, 0, 0, 0.12),
    0 .5rem .625rem .0625rem rgba(0, 0, 0, 0.14),
    0 .3125rem .3125rem -.1875rem rgba(0, 0, 0, 0.2);
  --shadow-hover-button:
    0 .1875rem .1875rem -.125rem rgba(0,0,0,0.2),
    0 .1875rem .25rem 0 rgba(0,0,0,0.14),
    0 .0625rem .5rem 0 rgba(0,0,0,0.12);
  --shadow-selected:
    0 0 0 .125rem var(--color-selected) inset;
  --shadow-correct:
    0 0 0 .125rem var(--color-correct) inset;
  --shadow-incorrect:
    0 0 0 .125rem var(--color-incorrect) inset;
  --shadow-selected-trans:
    0 0 0 .125rem rgba(0, 105, 254, 0) inset;
  --shadow-focus:
    0 .125rem 0 .0625rem rgba(255, 46, 171, 1),
    0 0 0 .0625rem rgba(255, 46, 171, 1),
    0 .0625rem 0 .1875rem rgba(255, 255, 255, 1),
    0 0 0 .125rem rgba(255, 255, 255, 1);
  --shadow-inner-gray:
    .1875rem .25rem .1875rem .0625rem rgba(0, 0, 0, 0.15) inset,
      0 .1875rem .125rem 0 rgba(0, 0, 0, 0.3) inset;
  --shadow-inner-blue:
    .1875rem .25rem .1875rem .0625rem rgba(0, 105, 254, 0.15) inset,
    0 .1875rem .125rem 0 rgba(0, 105, 254, 0.3) inset;
  --shadow-input-hover:
    0 .125rem .375rem .125rem rgba(0, 0, 0, 0.15),
    0 .0625rem .125rem 0 rgba(0, 0, 0, 0.3);
  --color-action-default: var(--connect__blue-s50);
  --color-action-active: var(--connect__blue-c55);
  --color-action-disabled: var(--connect__gray-c10);
  --color-text-disabled: var(--connect__gray-c55);
  --color-action-bg: var(--connect__blue-c5);
  --color-selected: rgba(0, 105, 254, 1);
  --color-correct-bg: var(--feedback-green-bg);
  --color-incorrect-bg: var(--feedback-red-bg);
  --color-correct: var(--feedback-green);
  --color-incorrect: var(--$feedback-red);
  --color-text: var(--connect-$text-color);
  --icon-correct: url(images/icons/correct-912.svg);
  --icon-incorrect: url(images/icons/incorrect-912.svg);
  --feedback-green: rgb(0, 161, 0);
  --feedback-green-bg: rgb(210, 247, 174);
  --feedback-green-border: rgb(0, 161, 0);
  --feedback-red: rgb(243, 0, 0);
  --feedback-red-bg: rgba(255, 214, 212, 1);
}

.connect__g23,
.connect__g45 {
  --shadow-correct:
    0 0 0 .125rem var(--color-correct) inset;
  --shadow-incorrect:
    0 0 0 .125rem var(--color-incorrect) inset;
  --icon-correct: url(images/icons/correct-35.svg);
  --icon-incorrect: url(images/icons/incorrect-35.svg);
  --icon-height: 2rem;
  --icon-width: 2rem;
}

.connect__button,
button.connect__button {
  --shadow-outer: var(--shadow-flat);
  --shadow-inner: var(--shadow-selected-trans);
  --active-color: var(--color-action-default);
  background-color: var(--active-color);
  box-shadow: var(--shadow-outline), var(--shadow-outer), var(--shadow-inner);
  border-radius: var(--border-radius);
  border: 0.125rem solid white;
  color: white;
  cursor: pointer;
  font-family: var(--connect__font-sans);
  font-size: var(--caption);
  line-height: var(--caption-lheight);
  padding: calc(var(--spacer-sm) - var(--border-width)) calc(var(--spacer-md) - var(--border-width));
  width: -moz-fit-content;
  width: fit-content;
}
.connect__button:not(:disabled):hover,
button.connect__button:not(:disabled):hover {
  --shadow-outer: var(--shadow-hover-button);
}
.connect__button:not(:disabled):active,
button.connect__button:not(:disabled):active {
  --shadow-outer: var(--shadow-flat);
}
.connect__button:focus-visible,
button.connect__button:focus-visible {
  --shadow-outer: var(--shadow-focus);
}
.connect__button-secondary:not(:disabled),
button.connect__button-secondary:not(:disabled) {
  --shadow-inner: var(--shadow-selected);
  color: var(--active-color);
  background-color: white;
}
.connect__button:disabled,
button.connect__button:disabled {
  --active-color: var(--color-action-disabled);
  color: var(--color-text-disabled);
  cursor: unset;
}

input[type=text].connect__input {
  --color-correct-bg: var(--feedback-green-bg);
  --color-incorrect-bg: var(--feedback-red-bg);
  --shadow-inner: var(--shadow-inner-gray);
  --shadow-outer: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
  border-radius: var(--border-radius);
  border: 0.125rem solid whrgba(41, 30, 30, 0);
  font-family: var(--connect__font-sans);
  font-size: var(--body-md);
  padding: calc(var(--spacer-sm) - var(--border-width)) calc(var(--spacer-md) - var(--border-width));
  background-color: var(--color-action-disabled);
  box-shadow: var(--shadow-inner), var(--shadow-outer);
}
input[type=text].connect__input:not(:disabled):not(:focus):hover {
  --shadow-outer: var(--shadow-hover-button);
}
input[type=text].connect__input:focus {
  background-color: var(--color-action-bg);
  --shadow-outer: var(--shadow-focus);
}
input[type=text].connect__input:disabled {
  box-shadow: unset;
}
input[type=text].connect__input-correct {
  background-color: var(--color-correct-bg);
  color: black;
}
input[type=text].connect__input-incorrect {
  background-color: var(--color-incorrect-bg-35, --feedback-red-bg);
  color: black;
}

input[type=radio].connect__input, input[type=checkbox].connect__input {
  position: absolute;
  opacity: 0;
}
input[type=radio].connect__input + label, input[type=checkbox].connect__input + label {
  --shadow-outer: var(--shadow-default);
  --shadow-inner: 0 0 0 .125rem rgba(0, 105, 254, 0) inset;
  align-items: center;
  box-shadow: var(--shadow-outline), var(--shadow-outer), var(--shadow-inner);
  background-color: white;
  display: flex;
  font-family: var(--connect__font-sans);
  font-size: var(--body-md);
  line-height: var(--body-md-lheight);
  width: -moz-fit-content;
  width: fit-content;
  padding: var(--spacer-sm) var(--spacer-md) var(--spacer-sm) var(--spacer-sm);
  border-radius: var(--border-radius);
  position: relative;
  border: 0.125rem solid white;
}
input[type=radio].connect__input + label:before, input[type=checkbox].connect__input + label:before {
  content: "";
  width: calc(var(--spacer-lg) - var(--border-width) * 2);
  height: calc(var(--spacer-lg) - var(--border-width) * 2);
  background-color: white;
  margin-left: var(--spacer-sm);
  margin-right: var(--spacer-md);
  border-radius: calc(var(--border-radius) - var(--spacer-sm));
  box-shadow: 0 0 0 var(--border-width) white, 0 0 0 calc(var(--border-width) * 2) var(--color-action-default);
}
input[type=radio].connect__input:not(:disabled) + label, input[type=checkbox].connect__input:not(:disabled) + label {
  cursor: pointer;
}
input[type=radio].connect__input:not(:disabled) + label:hover, input[type=checkbox].connect__input:not(:disabled) + label:hover {
  --shadow-outer: var(--shadow-hover) ;
}
input[type=radio].connect__input:not(:disabled) + label:active, input[type=checkbox].connect__input:not(:disabled) + label:active {
  --shadow-outer: var(--shadow-flat) ;
}
input[type=radio].connect__input:focus-visible + label, input[type=checkbox].connect__input:focus-visible + label {
  box-shadow: var(--shadow-focus), var(--shadow-inner);
}
input[type=radio].connect__input:checked + label:before, input[type=checkbox].connect__input:checked + label:before {
  background-color: var(--color-action-default);
}
input[type=radio].connect__input:checked:not(:disabled) + label, input[type=checkbox].connect__input:checked:not(:disabled) + label {
  --shadow-inner: var(--shadow-selected);
}
input[type=radio].connect__input:disabled + label, input[type=checkbox].connect__input:disabled + label {
  --shadow-outer: var(--shadow-flat);
}
input[type=radio].connect__input-correct + label, input[type=checkbox].connect__input-correct + label {
  --shadow-inner: var(--shadow-correct);
  background-color: var(--color-correct-bg, white);
}
input[type=radio].connect__input-incorrect + label, input[type=checkbox].connect__input-incorrect + label {
  --shadow-inner: var(--shadow-incorrect);
  background-color: var(--color-incorrect-bg, white);
}

input[type=radio].connect__input + label {
  border-radius: 9999rem;
}
input[type=radio].connect__input + label:before, input[type=radio].connect__input + label:after {
  border-radius: 50%;
}

.mcq input[type=radio].connect__input + label, .mcq input[type=checkbox].connect__input + label {
  padding: var(--spacer-sm) var(--spacer-md);
  border-radius: var(--border-radius);
  margin-top: var(--spacer-md);
}
.mcq input[type=radio].connect__input + label:before, .mcq input[type=radio].connect__input + label:after, .mcq input[type=checkbox].connect__input + label:before, .mcq input[type=checkbox].connect__input + label:after {
  content: unset;
}
.mcq input[type=radio].connect__input + label:has(img), .mcq input[type=checkbox].connect__input + label:has(img) {
  padding: var(--spacer-sm);
}
.mcq input[type=radio].connect__input + label:has(img) img, .mcq input[type=checkbox].connect__input + label:has(img) img {
  border-radius: calc(var(--border-radius) - var(--spacer-sm));
}
.mcq input[type=radio].connect__input.correct + label, .mcq input[type=checkbox].connect__input.correct + label {
  padding-right: var(--spacer-md);
}
.mcq input[type=radio].connect__input.correct + label::after, .mcq input[type=checkbox].connect__input.correct + label::after {
  background: var(--icon-correct) no-repeat center left;
  background-size: contain;
  content: "";
  display: inline-block;
  height: var(--icon-width);
  width: var(--icon-height);
  transform: translateX(calc(var(--icon-width) / 4));
}
.mcq input[type=radio].connect__input.incorrect + label, .mcq input[type=checkbox].connect__input.incorrect + label {
  padding-right: var(--spacer-md);
}
.mcq input[type=radio].connect__input.incorrect + label::after, .mcq input[type=checkbox].connect__input.incorrect + label::after {
  background: var(--icon-incorrect) no-repeat center left;
  background-size: contain;
  content: "";
  display: inline-block;
  height: var(--icon-width);
  width: var(--icon-height);
  transform: translateX(calc(var(--icon-width) / 4));
}/*# sourceMappingURL=custom.css.map */