* {
  font-variant-ligatures: none;
  -webkit-hyphens: none;
          hyphens: none;
}

/* NOTES 
- margin l/r removed in source.css
*/
/*! Temp layout styles to be ignored */
body {
  padding-top: calc(var(--spacer-lg) * 4);
  grid-gap: var(--spacer-lg);
  color: var(--color-text);
}

button, input {
  grid-column: span 3;
}
button:first-of-type, button:nth-of-type(4n + 1), input:first-of-type, input:nth-of-type(4n + 1) {
  grid-column: 1/span 3;
}

#grades {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-action-disabled);
  width: 100%;
  margin: 0 !important;
  padding: var(--spacer-sm);
  display: flex;
  justify-content: center;
  z-index: 99;
}
#grades button {
  margin: 0 var(--spacer-xs);
}

.drop {
  grid-column: span 6;
}

*, *:before, *:after {
  transition: all 0.2s ease-in-out;
}

/*! Variables and gradeband values */
:root {
  --shadow-outline:
    0 0 0 0.0625rem rgba(0,0,0,0.1);
  --shadow-flat:
    0 0 0 0 rgba(0,0,0,0),
    0 0 0 0 rgba(0,0,0,0),
    0 0 0 0 rgba(0,0,0,0);
  --shadow-default:
    0 .0625rem .5rem 0 rgba(0, 0, 0, 0.12),
    0 .1875rem .25rem 0 rgba(0, 0, 0, 0.14),
    0 .1875rem .1875rem -.125rem rgba(0, 0, 0, 0.2);
  --shadow-hover:
    0 .1875rem .875rem .125rem rgba(0, 0, 0, 0.12),
    0 .5rem .625rem .0625rem rgba(0, 0, 0, 0.14),
    0 .3125rem .3125rem -.1875rem rgba(0, 0, 0, 0.2);
  --shadow-hover-button:
    0 .1875rem .1875rem -.125rem rgba(0,0,0,0.2),
    0 .1875rem .25rem 0 rgba(0,0,0,0.14),
    0 .0625rem .5rem 0 rgba(0,0,0,0.12);
  --shadow-selected:
    0 0 0 .125rem var(--color-selected) inset;
  --shadow-correct:
    0 0 0 .125rem var(--color-correct) inset;
  --shadow-incorrect:
    0 0 0 .125rem var(--color-incorrect) inset;
  --shadow-selected-trans:
    0 0 0 .125rem rgba(0, 105, 254, 0) inset;
  --shadow-focus:
    0 .125rem 0 .0625rem rgba(255, 46, 171, 1),
    0 0 0 .0625rem rgba(255, 46, 171, 1),
    0 .0625rem 0 .1875rem rgba(255, 255, 255, 1),
    0 0 0 .125rem rgba(255, 255, 255, 1);
  --shadow-inner-gray:
    .1875rem .25rem .1875rem .0625rem rgba(0, 0, 0, 0.15) inset,
     0 .1875rem .125rem 0 rgba(0, 0, 0, 0.3) inset;
  --shadow-inner-blue:
    .1875rem .25rem .1875rem .0625rem rgba(0, 105, 254, 0.15) inset,
    0 .1875rem .125rem 0 rgba(0, 105, 254, 0.3) inset;
  --shadow-input-hover:
    0 .125rem .375rem .125rem rgba(0, 0, 0, 0.15),
    0 .0625rem .125rem 0 rgba(0, 0, 0, 0.3);
  --color-action-active: rgb(6, 94, 194);
  --color-action-disabled: rgb(237, 237, 237);
  --color-text-disabled: rgb(93, 95, 95);
  --color-action-bg: rgb(234, 244, 255);
  --color-selected: rgba(0, 105, 254, 1);
  --color-correct: rgb(0, 161, 0);
  --color-incorrect: rgb(243, 0, 0);
  --color-text: rgb(45, 45, 45);
  --credits: 0.875rem;
  --ui-button: 2rem;
  --ui-icon: 1.25rem;
  --icon-correct: url(images/icons/correct-912.svg);
  --icon-incorrect: url(images/icons/incorrect-912.svg);
}

.g35 {
  --border-radius: .75rem;
  --border-width: .1875rem;
  --color-action-default: rgb(0, 106, 255);
  --spacer-lg: 2rem;
  --spacer-md: 1rem;
  --spacer-sm: 0.5rem;
  --spacer-xs: 0.25rem;
  --opener: 2.625rem;
  --heading-lg: 2.375rem;
  --heading-md: 2.125rem;
  --heading-sm: 1.625rem;
  --body-lg: 1.375rem;
  --body-md: 1.3125rem;
  --body-sm: 1.25rem;
  --caption: 1.1875rem;
  --opener-lheight: 4.25rem;
  --heading-lg-lheight: 3rem;
  --heading-md-lheight: 2.625rem;
  --heading-sm-lheight: 2.125rem;
  --body-lg-lheight: 2.125rem;
  --body-md-lheight: 2rem;
  --body-sm-lheight: 1.875rem;
  --caption-lheight: 1.875rem;
  --color-correct-bg: rgb(210, 247, 174);
  --color-correct: rgb(0, 161, 0);
  --color-incorrect-bg: rgba(215, 231, 241, 1);
  --color-incorrect-bg-35: rgba(215, 231, 241, 1);
  --color-incorrect: rgba(115, 130, 143, 1);
  --shadow-correct:
    0 0 0 .125rem var(--color-correct) inset;
  --shadow-incorrect:
    0 0 0 .125rem var(--color-incorrect) inset;
  --icon-correct: url(images/icons/correct-35.svg);
  --icon-incorrect: url(images/icons/incorrect-35.svg);
  --icon-height: 2rem;
  --icon-width: 2rem;
}
@media (min-width: 40.625rem) {
  .g35 {
    --spacer-lg: 2.125rem;
    --spacer-md: 1.0625rem;
    --spacer-sm: 0.5625rem;
    --spacer-xs: 0.25rem;
    --opener: 3.75rem;
    --heading-lg: 3rem;
    --heading-md: 2.625rem;
    --heading-sm: 1.875rem;
    --body-lg: 1.5rem;
    --body-md: 1.375rem;
    --body-sm: 1.3125rem;
    --caption: 1.25rem;
    --opener-lheight: 4.25rem;
    --heading-lg-lheight: 3.75rem;
    --heading-md-lheight: 3.25rem;
    --heading-sm-lheight: 2.375rem;
    --body-lg-lheight: 2.25rem;
    --body-md-lheight: 2.125rem;
    --body-sm-lheight: 2rem;
    --caption-lheight: 1.875rem;
  }
}
@media (min-width: 80rem) {
  .g35 {
    --spacer-lg: 2.25rem;
    --spacer-md: 1.125rem;
    --spacer-sm: 0.5625rem;
    --spacer-xs: 0.3125rem;
    --opener: 5.75rem;
    --heading-lg: 4rem;
    --heading-md: 3.25rem;
    --heading-sm: 2.25rem;
    --body-lg: 1.6875rem;
    --body-md: 1.5rem;
    --body-sm: 1.375rem;
    --caption: 1.25rem;
    --opener-lheight: 6.5rem;
    --heading-lg-lheight: 5rem;
    --heading-md-lheight: 4.125rem;
    --heading-sm-lheight: 2.875rem;
    --body-lg-lheight: 2.625rem;
    --body-md-lheight: 2.25rem;
    --body-sm-lheight: 2.125rem;
    --caption-lheight: 1.875rem;
  }
}

.g68 {
  --border-radius: .375rem;
  --border-width: .125rem;
  --color-action-default: rgb(0, 106, 255);
  --spacer-lg: 1.875rem;
  --spacer-md: 0.9375rem;
  --spacer-sm: 0.5rem;
  --spacer-xs: 0.25rem;
  --opener: 2.625rem;
  --heading-lg: 2.375rem;
  --heading-md: 1.875rem;
  --heading-sm: 1.5rem;
  --body-lg: 1.3125rem;
  --body-md: 1.25rem;
  --body-sm: 1.1875rem;
  --caption: 1.0625rem;
  --opener-lheight: 3rem;
  --heading-lg-lheight: 3rem;
  --heading-md-lheight: 2.375rem;
  --heading-sm-lheight: 1.875rem;
  --body-lg-lheight: 2rem;
  --body-md-lheight: 1.875rem;
  --body-sm-lheight: 1.875rem;
  --caption-lheight: 1.625rem;
  --icon-height: 1.75rem;
  --icon-width: 1.75rem;
}
@media (min-width: 40.625rem) {
  .g68 {
    --spacer-lg: 2rem;
    --spacer-md: 1rem;
    --spacer-sm: 0.5rem;
    --spacer-xs: 0.25rem;
    --opener: 3.75rem;
    --heading-lg: 3rem;
    --heading-md: 2.25rem;
    --heading-sm: 1.625rem;
    --body-lg: 1.375rem;
    --body-md: 1.3125rem;
    --body-sm: 1.25rem;
    --caption: 1.125rem;
    --opener-lheight: 4.25rem;
    --heading-lg-lheight: 3.75rem;
    --heading-md-lheight: 2.875rem;
    --heading-sm-lheight: 2.125rem;
    --body-lg-lheight: 2.125rem;
    --body-md-lheight: 2rem;
    --body-sm-lheight: 1.875rem;
    --caption-lheight: 1.75rem;
  }
}
@media (min-width: 80rem) {
  .g68 {
    --spacer-lg: 2.125rem;
    --spacer-md: 1.0625rem;
    --spacer-sm: 0.5625rem;
    --spacer-xs: 0.25rem;
    --opener: 5.75rem;
    --heading-lg: 4rem;
    --heading-md: 2.75rem;
    --heading-sm: 1.875rem;
    --body-lg: 1.5rem;
    --body-md: 1.375rem;
    --body-sm: 1.25rem;
    --caption: 1.125rem;
    --opener-lheight: 6.5rem;
    --heading-lg-lheight: 5rem;
    --heading-md-lheight: 3.5rem;
    --heading-sm-lheight: 2.375rem;
    --body-lg-lheight: 2.25rem;
    --body-md-lheight: 2.125rem;
    --body-sm-lheight: 1.875rem;
    --caption-lheight: 1.75rem;
  }
}

.g912 {
  --border-radius: .375rem;
  --border-width: .125rem;
  --color-action-default: rgb(0, 106, 255);
  --spacer-lg: 1.875rem;
  --spacer-md: 0.9375rem;
  --spacer-sm: 0.5rem;
  --spacer-xs: 0.25rem;
  --opener: 2.625rem;
  --heading-lg: 2.125rem;
  --heading-md: 1.875rem;
  --heading-sm: 1.5rem;
  --body-lg: 1.3125rem;
  --body-md: 1.1875rem;
  --body-sm: 1.0625rem;
  --caption: 1rem;
  --opener-lheight: 3rem;
  --heading-lg-lheight: 2.625rem;
  --heading-md-lheight: 2.375rem;
  --heading-sm-lheight: 1.875rem;
  --body-lg-lheight: 2rem;
  --body-md-lheight: 1.875rem;
  --body-sm-lheight: 1.625rem;
  --caption-lheight: 1.5rem;
  --icon-height: 1.5rem;
  --icon-width: 1.5rem;
}
@media (min-width: 40.625rem) {
  .g912 {
    --spacer-lg: 1.875rem;
    --spacer-md: 0.9375rem;
    --spacer-sm: 0.5rem;
    --spacer-xs: 0.25rem;
    --opener: 3.375rem;
    --heading-lg: 2.625rem;
    --heading-md: 2.25rem;
    --heading-sm: 1.625rem;
    --body-lg: 1.375rem;
    --body-md: 1.25rem;
    --body-sm: 1.125rem;
    --caption: 1rem;
    --opener-lheight: 3.875rem;
    --heading-lg-lheight: 3.25rem;
    --heading-md-lheight: 2.875rem;
    --heading-sm-lheight: 2.125rem;
    --body-lg-lheight: 2.125rem;
    --body-md-lheight: 1.875rem;
    --body-sm-lheight: 1.75rem;
    --caption-lheight: 1.5rem;
  }
}
@media (min-width: 80rem) {
  .g912 {
    --spacer-lg: 1.875rem;
    --spacer-md: 0.9375rem;
    --spacer-sm: 0.5rem;
    --spacer-xs: 0.25rem;
    --opener: 4.75rem;
    --heading-lg: 3.25rem;
    --heading-md: 2.75rem;
    --heading-sm: 1.875rem;
    --body-lg: 1.5rem;
    --body-md: 1.25rem;
    --body-sm: 1.125rem;
    --caption: 1rem;
    --opener-lheight: 5.375rem;
    --heading-lg-lheight: 4.125rem;
    --heading-md-lheight: 3.5rem;
    --heading-sm-lheight: 2.375rem;
    --body-lg-lheight: 2.25rem;
    --body-md-lheight: 1.875rem;
    --body-sm-lheight: 1.75rem;
    --caption-lheight: 1.5rem;
  }
}

p {
  font-size: var(--body-md);
  line-height: var(--body-md-lheight);
}

h5 {
  font-size: var(--body-lg);
  line-height: var(--body-lg-lheight);
}

button {
  --shadow-outer: var(--shadow-flat);
  --shadow-inner: var(--shadow-selected-trans);
  --active-color: var(--color-action-default);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--border-radius);
  border: 0.125rem solid white;
  font-size: var(--caption);
  line-height: var(--caption-lheight);
  padding: calc(var(--spacer-sm) - var(--border-width)) calc(var(--spacer-md) - var(--border-width));
  background-color: var(--active-color);
  color: white;
  cursor: pointer;
  box-shadow: var(--shadow-outline), var(--shadow-outer), var(--shadow-inner);
}
button:not(:disabled):hover {
  --shadow-outer: var(--shadow-hover-button);
}
button:not(:disabled):active {
  --shadow-outer: var(--shadow-flat);
}
button:focus-visible {
  --shadow-outer: var(--shadow-focus);
}
button.secondary:not(:disabled) {
  --shadow-inner: var(--shadow-selected);
  color: var(--active-color);
  background-color: white;
}
button:disabled {
  --active-color: var(--color-action-disabled);
  color: var(--color-text-disabled);
  cursor: unset;
}

.source__accordion {
  list-style: none;
}
.source__accordion > li {
  padding-left: 0;
  margin-top: var(--border-width);
  margin-left: 0;
}
.source__accordion > li:before {
  content: none;
}
.source__accordion details {
  margin-top: 0;
}
.source__accordion details > * {
  padding-left: var(--spacer-md);
  padding-right: var(--spacer-md);
}
.source__accordion details[open] {
  padding-bottom: var(--spacer-sm);
}
.source__accordion details[open] summary {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.source__accordion details[open] summary:after {
  transform: rotate(180deg);
}
.source__accordion summary {
  padding-top: var(--spacer-sm);
  padding-bottom: var(--spacer-sm);
  min-height: calc(var(--ui-button) + var(--spacer-md));
  border-radius: var(--border-radius);
  font-size: var(--body-lg);
  line-height: var(--body-lg-lheight);
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.source__accordion summary *, .source__accordion summary + * {
  margin-top: 0;
}
.source__accordion summary:after {
  width: var(--ui-button);
  height: var(--ui-button);
  content: "";
  margin-left: var(--spacer-md);
  border-radius: 50%;
  border: var(--border-width) solid var(--color-action-default);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h20v20H0z'/%3E%3Cpath fill='%230072db' fill-rule='nonzero' d='M16 5.8c.5-.4 1.2-.4 1.7 0 .4.5.4 1.2 0 1.6l-6.9 6.8c-.4.4-1.2.4-1.6 0L2.3 7.4C2 7 2 6.3 2.3 5.8c.5-.4 1.2-.4 1.7 0l6 6 6-6z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: var(--ui-icon) var(--ui-icon);
  background-position: center center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.source__accordion summary:before {
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-default);
  z-index: -1;
}
.source__accordion summary:hover:before {
  box-shadow: var(--shadow-hover);
}
.source__accordion summary:active:before {
  box-shadow: var(--shadow-active);
}
.source__accordion--divider summary + * {
  padding-top: 0.5rem;
  position: relative;
}
@media (min-width: 40.625rem) {
  .source__accordion--divider summary + * {
    padding-top: 0.53125rem;
  }
}
@media (min-width: 80rem) {
  .source__accordion--divider summary + * {
    padding-top: 0.5625rem;
  }
}
.source__accordion--divider summary + *:before {
  position: absolute;
  top: 0;
  left: var(--spacer-md);
  width: calc(100% - var(--spacer-lg));
  height: var(--border-width);
  content: "";
  background: var(--color-action-disabled);
}
.source__accordion--color details[open] summary {
  background: var(--color-action-bg);
}
.source__accordion--color details[open] summary + * {
  padding-top: var(--spacer-sm);
}

input[type=text] {
  --color-correct-bg: rgb(210, 247, 174);
  --color-incorrect-bg: rgb(255, 214, 212);
  --shadow-inner: var(--shadow-inner-gray);
  --shadow-outer: 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(0,0,0,0);
  border-radius: var(--border-radius);
  border: 0.125rem solid whrgba(41, 30, 30, 0);
  font-size: var(--body-md);
  line-height: var(--body-md-lheight);
  padding: calc(var(--spacer-sm) - var(--border-width)) calc(var(--spacer-md) - var(--border-width));
  background-color: var(--color-action-disabled);
  box-shadow: var(--shadow-inner), var(--shadow-outer);
}
input[type=text]:not(:disabled):not(:focus):hover {
  --shadow-outer: var(--shadow-hover-button);
}
input[type=text]:focus {
  background-color: var(--color-action-bg);
  --shadow-outer: var(--shadow-focus);
}
input[type=text]:disabled {
  box-shadow: unset;
}
input[type=text].correct {
  background-color: var(--color-correct-bg);
  color: black;
}
input[type=text].incorrect {
  background-color: var(--color-incorrect-bg-35, rgb(255, 214, 212));
  color: black;
}

input[type=radio], input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
input[type=radio] + label, input[type=checkbox] + label {
  --shadow-outer: var(--shadow-default);
  --shadow-inner: 0 0 0 .125rem rgba(0, 105, 254, 0) inset;
  box-shadow: var(--shadow-outline), var(--shadow-outer), var(--shadow-inner);
  background-color: white;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: var(--spacer-sm) var(--spacer-md) var(--spacer-sm) var(--spacer-sm);
  border-radius: var(--border-radius);
  position: relative;
  border: 0.125rem solid white;
}
input[type=radio] + label:before, input[type=checkbox] + label:before {
  content: "";
  width: calc(var(--spacer-lg) - var(--border-width) * 2);
  height: calc(var(--spacer-lg) - var(--border-width) * 2);
  background-color: white;
  margin-left: var(--spacer-sm);
  margin-right: var(--spacer-md);
  border-radius: calc(var(--border-radius) - var(--spacer-sm));
  box-shadow: 0 0 0 var(--border-width) white, 0 0 0 calc(var(--border-width) * 2) var(--color-action-default);
}
input[type=radio]:not(:disabled) + label, input[type=checkbox]:not(:disabled) + label {
  cursor: pointer;
}
input[type=radio]:not(:disabled) + label:hover, input[type=checkbox]:not(:disabled) + label:hover {
  --shadow-outer: var(--shadow-hover) ;
}
input[type=radio]:not(:disabled) + label:active, input[type=checkbox]:not(:disabled) + label:active {
  --shadow-outer: var(--shadow-flat) ;
}
input[type=radio]:focus-visible + label, input[type=checkbox]:focus-visible + label {
  box-shadow: var(--shadow-focus), var(--shadow-inner);
}
input[type=radio]:checked + label:before, input[type=checkbox]:checked + label:before {
  background-color: var(--color-action-default);
}
input[type=radio]:checked:not(:disabled) + label, input[type=checkbox]:checked:not(:disabled) + label {
  --shadow-inner: var(--shadow-selected);
}
input[type=radio]:disabled + label, input[type=checkbox]:disabled + label {
  --shadow-outer: var(--shadow-flat);
}
input[type=radio].correct + label, input[type=checkbox].correct + label {
  --shadow-inner: var(--shadow-correct);
  background-color: var(--color-correct-bg, white);
}
input[type=radio].incorrect + label, input[type=checkbox].incorrect + label {
  --shadow-inner: var(--shadow-incorrect);
  background-color: var(--color-incorrect-bg, white);
}

input[type=radio] + label {
  border-radius: 9999rem;
}
input[type=radio] + label:before, input[type=radio] + label:after {
  border-radius: 50%;
}

.mcq input[type=radio] + label, .mcq input[type=checkbox] + label {
  padding: var(--spacer-sm) var(--spacer-md);
  border-radius: var(--border-radius);
  margin-top: var(--spacer-md);
}
.mcq input[type=radio] + label:before, .mcq input[type=radio] + label:after, .mcq input[type=checkbox] + label:before, .mcq input[type=checkbox] + label:after {
  content: unset;
}
.mcq input[type=radio] + label:has(img), .mcq input[type=checkbox] + label:has(img) {
  padding: var(--spacer-sm);
}
.mcq input[type=radio] + label:has(img) img, .mcq input[type=checkbox] + label:has(img) img {
  border-radius: calc(var(--border-radius) - var(--spacer-sm));
}
.mcq input[type=radio].correct + label, .mcq input[type=checkbox].correct + label {
  padding-right: var(--spacer-md);
}
.mcq input[type=radio].correct + label::after, .mcq input[type=checkbox].correct + label::after {
  background: var(--icon-correct) no-repeat center left;
  background-size: contain;
  content: "";
  display: inline-block;
  height: var(--icon-width);
  width: var(--icon-height);
  transform: translateX(calc(var(--icon-width) / 4));
}
.mcq input[type=radio].incorrect + label, .mcq input[type=checkbox].incorrect + label {
  padding-right: var(--spacer-md);
}
.mcq input[type=radio].incorrect + label::after, .mcq input[type=checkbox].incorrect + label::after {
  background: var(--icon-incorrect) no-repeat center left;
  background-size: contain;
  content: "";
  display: inline-block;
  height: var(--icon-width);
  width: var(--icon-height);
  transform: translateX(calc(var(--icon-width) / 4));
}

.source__flipcards, .source__reveal {
  --flipcard-height: calc(var(--spacer-lg) * 10);
  list-style: none;
  grid-column: 1/span 12;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 !important;
}
.source__flipcards li, .source__reveal li {
  padding: 0;
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 0;
  flex-basis: 100%;
}
@media (min-width: 40.625rem) {
  .source__flipcards li, .source__reveal li {
    margin-top: 2.125rem;
  }
}
@media (min-width: 80rem) {
  .source__flipcards li, .source__reveal li {
    margin-top: 2.25rem;
  }
}
@media (min-width: 40.625rem) {
  .source__flipcards li, .source__reveal li {
    flex-basis: calc(50% - var(--spacer-lg));
    margin-left: var(--spacer-md);
    margin-right: var(--spacer-md);
  }
}
@media (min-width: 55rem) {
  .source__flipcards li, .source__reveal li {
    flex-basis: calc(33.3333% - var(--spacer-lg));
  }
}
.source__flipcards li:before, .source__reveal li:before {
  content: unset;
}
.source__flipcards details, .source__reveal details {
  height: var(--flipcard-height);
  perspective: 1000px;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}
.source__flipcards details[open] .source__flipcards__front, .source__reveal details[open] .source__flipcards__front {
  transform: rotateY(180deg);
  pointer-events: none;
}
.source__flipcards details[open] summary:before, .source__reveal details[open] summary:before {
  transform: rotateY(360deg);
  transition: transform 0.75s cubic-bezier(0.52, 0.02, 0.28, 1), box-shadow 0.2s cubic-bezier(0.52, 0.02, 0.28, 1);
  pointer-events: none;
  background: unset;
}
.source__flipcards summary:focus, .source__reveal summary:focus {
  outline: 0;
}
.source__flipcards summary:before, .source__reveal summary:before {
  content: "";
}
.source__flipcards .source__flipcards__front,
.source__flipcards .source__flipcards__back,
.source__flipcards summary:before, .source__reveal .source__flipcards__front,
.source__reveal .source__flipcards__back,
.source__reveal summary:before {
  position: absolute;
  width: 100%;
  height: var(--flipcard-height);
  left: 0;
  padding: var(--spacer-md);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-shadow: var(--shadow-default);
  transition: transform 0.75s cubic-bezier(0.52, 0.02, 0.28, 1), box-shadow 0.2s cubic-bezier(0.52, 0.02, 0.28, 1);
  margin: 0;
  background: white;
  border-radius: var(--border-radius);
}
.source__flipcards .source__flipcards__front,
.source__flipcards summary:before, .source__reveal .source__flipcards__front,
.source__reveal summary:before {
  bottom: 0;
  left: 0;
}
.source__flipcards summary, .source__reveal summary {
  list-style: none;
  position: absolute;
  width: 100%;
  height: var(--ui-button);
  background: transparent;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
  z-index: 100;
  cursor: pointer;
}
.source__flipcards summary:hover .source__flipcards__front, .source__flipcards summary:hover:before, .source__reveal summary:hover .source__flipcards__front, .source__reveal summary:hover:before {
  box-shadow: var(--shadow-hover);
}
.source__flipcards summary:before, .source__reveal summary:before {
  background: linear-gradient(180deg, rgba(0, 114, 219, 0) 0%, rgba(0, 114, 219, 0) calc(100% - var(--ui-button)), var(--color-action-default) calc(100% - var(--ui-button)), var(--color-action-default) 100%);
  background-size: 100% 100%;
  transform: rotateY(180deg);
}
.source__flipcards .source__flipcards__front, .source__reveal .source__flipcards__front {
  overflow: hidden;
  padding: var(--spacer-md) var(--spacer-md) var(--ui-button);
}
.source__flipcards .source__flipcards__front:before, .source__reveal .source__flipcards__front:before {
  content: "";
  width: 100%;
  height: var(--ui-button);
  bottom: 0;
  left: 0;
  position: absolute;
  background-size: var(--ui-icon);
  background-position: var(--spacer-sm) center;
  background-repeat: no-repeat;
  background-color: white;
  transform: scaleX(-1);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" title="flip" width="20" height="20" fill="none" viewBox="0 0 20 20"><path fill=" %230072db " fill-rule="evenodd" d="M10 5a1 1 0 0 0 0 2c1.791 0 3.364.417 4.454 1.04C15.572 8.679 16 9.41 16 10c0 .59-.428 1.321-1.546 1.96C13.364 12.583 11.79 13 10 13c-.27 0-.534-.01-.794-.028l.846-3.13-6.008 2.52 3.92 5.203.712-2.631A13.2 13.2 0 0 0 10 15c2.075 0 4.002-.478 5.446-1.303C16.86 12.887 18 11.618 18 10c0-1.618-1.139-2.888-2.554-3.697C14.002 5.478 12.075 5 10 5Z" clip-rule="evenodd"/></svg>');
}
.source__flipcards .source__flipcards__back, .source__reveal .source__flipcards__back {
  overflow-y: auto;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  animation: unset;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: white;
  border-radius: var(--border-radius);
  padding: 0;
  display: grid;
  box-shadow: unset;
}
.source__flipcards .source__flipcards__back:after, .source__reveal .source__flipcards__back:after {
  position: sticky;
  content: "";
  width: 100%;
  height: var(--ui-button);
  bottom: 0;
  left: 0;
  background-size: var(--ui-icon);
  background-position: var(--spacer-sm) center;
  background-repeat: no-repeat;
  background-color: var(--color-action-default);
  transform: scaleX(-1);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" title="flip" width="20" height="20" fill="none" viewBox="0 0 20 20"><path fill=" %23fff " fill-rule="evenodd" d="M10 5a1 1 0 0 0 0 2c1.791 0 3.364.417 4.454 1.04C15.572 8.679 16 9.41 16 10c0 .59-.428 1.321-1.546 1.96C13.364 12.583 11.79 13 10 13c-.27 0-.534-.01-.794-.028l.846-3.13-6.008 2.52 3.92 5.203.712-2.631A13.2 13.2 0 0 0 10 15c2.075 0 4.002-.478 5.446-1.303C16.86 12.887 18 11.618 18 10c0-1.618-1.139-2.888-2.554-3.697C14.002 5.478 12.075 5 10 5Z" clip-rule="evenodd"/></svg>');
  align-self: end;
}
.source__flipcards .source__flipcards__back > *:last-child, .source__reveal .source__flipcards__back > *:last-child {
  margin-bottom: 0;
  padding-bottom: var(--spacer-sm);
}
.source__flipcards .source__flipcards__back *, .source__reveal .source__flipcards__back * {
  font-size: var(--body-sm);
  line-height: var(--body-sm-lheight);
}
.source__flipcards .source__flipcards__back > *, .source__reveal .source__flipcards__back > * {
  margin: var(--spacer-sm) var(--spacer-md) 0;
  grid-column: 1;
}
.source__flipcards .source__flipcards__back > *:first-child, .source__reveal .source__flipcards__back > *:first-child {
  margin-top: var(--spacer-md);
}
@media (min-width: 80rem) {
  .source__flipcards--four li, .source__reveal--four li {
    flex-basis: calc(25% - var(--spacer-lg));
  }
}
.source__flipcards--counter, .source__reveal--counter {
  counter-reset: cards;
}
.source__flipcards--counter li, .source__reveal--counter li {
  counter-increment: cards;
}
.source__flipcards--counter details .source__flipcards__front:after, .source__reveal--counter details .source__flipcards__front:after {
  position: absolute;
  height: var(--ui-button);
  bottom: 0;
  left: var(--spacer-sm);
  content: counter(cards);
  font-size: var(--caption);
  line-height: var(--caption-lheight);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.source__flipcards .source__flipcards--sequenced li:not(:has(details[open])):not(:has(~ li details[open])) ~ li details, .source__reveal .source__flipcards--sequenced li:not(:has(details[open])):not(:has(~ li details[open])) ~ li details {
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(1);
}

select {
  --active-color: var(--color-action-default);
  --icon: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.707 7.293a1 1 0 0 0-1.414 1.414l6 6a1 1 0 0 0 1.414 0l6-6a1 1 0 0 0-1.414-1.414L10 12.586 4.707 7.293Z' fill='%23fff'/%3E%3C/svg%3E");
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--active-color);
  font-size: var(--caption);
  line-height: var(--caption-lheight);
  padding: calc(var(--spacer-sm) - var(--border-width)) calc(var(--spacer-lg) + var(--spacer-md) + var(--border-width)) calc(var(--spacer-sm) - var(--border-width)) calc(var(--spacer-md) - var(--border-width));
  background: var(--icon), linear-gradient(90deg, rgba(0, 114, 219, 0) 0%, rgba(0, 114, 219, 0) calc(100% - var(--border-width) * 2 - var(--spacer-lg)), var(--active-color) calc(100% - var(--border-width) * 2 - var(--spacer-lg)), var(--active-color) 100%);
  background-size: var(--ui-icon) var(--ui-icon), 100% 100%;
  background-position: calc(100% - (var(--ui-button) - var(--ui-icon)) / 2 - var(--border-width)) center, top left;
  background-repeat: no-repeat;
  box-shadow: var(--shadow-default);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
select:not(:disabled) {
  cursor: pointer;
}
select:not(:disabled):hover {
  box-shadow: var(--shadow-hover);
}
select:disabled {
  --active-color: var(--color-action-disabled);
  box-shadow: unset;
  opacity: 1;
  color: var(--color-action-disabled);
}
select.correct {
  --active-color: var(--color-correct);
  --icon: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.828 2 18 4.194c-2.283 2.307-5.216 6.254-8.765 11.818L7.967 18l-1.3-1.967c-1.364-2.065-2.92-3.498-4.667-4.33l1.31-2.807c1.683.802 3.197 2 4.542 3.583C10.982 7.705 13.633 4.217 15.828 2Z' fill='%23fff'/%3E%3C/svg%3E");
  color: var(--color-text);
}
select.incorrect {
  --active-color: var(--color-incorrect);
  --icon: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14 14.484-2.186 1.75c-.62-.775-1.43-2.042-2.436-3.813L4.98 16.82 3 14.839l4.973-4.973a236.42 236.42 0 0 1-2.889-5.613L7.59 3a249.365 249.365 0 0 0 2.455 4.794l4.689-4.689 1.98 1.98-5.279 5.28c1.11 1.995 1.97 3.373 2.567 4.12Z' fill='%23fff'/%3E%3C/svg%3E");
  color: var(--color-text);
}

.drag {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%232D2D2D' d='M15 9h-4V5h2l-3-3-3 3h2v4H5V7l-3 3 3 3v-2h4v4H7l3 3 3-3h-2v-4h4v2l3-3-3-3v2Z'/%3E%3C/svg%3E");
  background-color: white;
  box-shadow: var(--shadow-default);
  color: var(--color-text);
  position: relative;
  padding-bottom: calc(var(--ui-button) - var(--border-width));
  cursor: grab;
}
.drag:active {
  cursor: grabbing;
  box-shadow: var(--shadow-active);
}
.drag:disabled {
  box-shadow: unset;
  border-color: var(--color-action-disabled);
  color: var(--color-action-disabled);
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%23dcdcdc' d='M15 9h-4V5h2l-3-3-3 3h2v4H5V7l-3 3 3 3v-2h4v4H7l3 3 3-3h-2v-4h4v2l3-3-3-3v2Z'/%3E%3C/svg%3E");
}
.drag:disabled:hover, .drag:disabled:active {
  cursor: unset;
}
.drag.correct {
  border-color: var(--color-correct);
  color: var(--color-text);
  --icon: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.828 2 18 4.194c-2.283 2.307-5.216 6.254-8.765 11.818L7.967 18l-1.3-1.967c-1.364-2.065-2.92-3.498-4.667-4.33l1.31-2.807c1.683.802 3.197 2 4.542 3.583C10.982 7.705 13.633 4.217 15.828 2Z' fill='%23008000'/%3E%3C/svg%3E");
}
.drag.incorrect {
  border-color: var(--color-incorrect);
  color: var(--color-text);
  --icon: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14 14.484-2.186 1.75c-.62-.775-1.43-2.042-2.436-3.813L4.98 16.82 3 14.839l4.973-4.973a236.42 236.42 0 0 1-2.889-5.613L7.59 3a249.365 249.365 0 0 0 2.455 4.794l4.689-4.689 1.98 1.98-5.279 5.28c1.11 1.995 1.97 3.373 2.567 4.12Z' fill='%23e60000'/%3E%3C/svg%3E");
}
.drag:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: calc(50% - var(--ui-button) / 2);
  width: var(--ui-button);
  height: var(--ui-button);
  background-image: var(--icon);
  background-size: var(--ui-icon);
  background-position: center center;
  background-repeat: no-repeat;
}

.drop {
  width: -moz-fit-content;
  width: fit-content;
  height: calc(var(--spacer-sm) + var(--caption-lheight) + var(--ui-button) + var(--spacer-sm) * 2);
  border-radius: calc(var(--border-radius) + var(--spacer-sm));
  box-shadow: inset 0px 0.0625rem 0.125rem 0px rgba(0, 0, 0, 0.3), inset 0px 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15);
  position: relative;
  padding: var(--spacer-sm);
}
.drop:before {
  content: "";
  position: absolute;
  top: var(--spacer-sm);
  left: var(--spacer-sm);
  width: calc(100% - var(--spacer-sm) * 2);
  height: calc(100% - var(--spacer-sm) * 2);
  border-radius: var(--border-radius);
  border: var(--border-width) dashed var(--color-action-disabled);
}
.drop button {
  visibility: hidden;
}

.tray {
  width: 100%;
  border-radius: calc(var(--border-radius) + var(--spacer-sm));
  box-shadow: inset 0px 0.0625rem 0.125rem 0px rgba(0, 0, 0, 0.3), inset 0px 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15);
  position: relative;
  padding: var(--spacer-xs);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tray button {
  margin: var(--spacer-xs);
}

.source__reveal details {
  --flipcard-height: calc(var(--base-lheight) + var(--half-lheight));
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-default);
  transition: box-shadow 0.1s cubic-bezier(0.52, 0.02, 0.28, 1);
}
.source__reveal details:hover {
  box-shadow: var(--shadow-hover);
}
.source__reveal details[open] {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.source__reveal details[open] summary {
  background-image: unset;
}
.source__reveal details[open] .source__flipcards__front, .source__reveal details[open] .source__flipcards__back {
  transition: unset;
  animation: unset;
}
.source__reveal details[open] .source__flipcards__back {
  transform: rotateY(0deg);
}
.source__reveal summary {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  left: unset;
  bottom: 0;
  right: 0;
  background: url(images/reveal.svg);
  background-size: calc(var(--half-lheight) + var(--quart-lheight));
  background-position: center center;
  background-repeat: no-repeat;
}
.source__reveal summary:hover .source__flipcards__front, .source__reveal summary:hover .source__flipcards__back {
  box-shadow: unset;
}
.source__reveal summary:before {
  content: unset;
}
.source__reveal .source__flipcards__back-visuals {
  display: none;
}
.source__reveal .source__flipcards__front, .source__reveal .source__flipcards__back {
  background: unset;
  box-shadow: unset;
  transition: unset;
  animation: unset;
  padding: var(--quart-lheight) var(--half-lheight);
}
.source__reveal .source__flipcards__front:before, .source__reveal .source__flipcards__front:after, .source__reveal .source__flipcards__back:before, .source__reveal .source__flipcards__back:after {
  content: unset;
}
.source__reveal .source__flipcards__front {
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--quart-lheight) var(--half-lheight);
  opacity: 0;
  pointer-events: none;
}
.source__reveal .source__flipcards__back {
  display: flex;
  align-items: center;
  justify-content: center;
}
.source__reveal .source__flipcards__back > *:first-child {
  margin-top: 0;
}
.source__reveal .source__flipcards__back > *:last-child {
  padding-bottom: 0;
}
.source__reveal .source__flipcards__back > * {
  margin: 0;
  font-size: var(--body-md);
  line-height: var(--body-md-lheight);
  text-align: center;
}/*# sourceMappingURL=custom.css.map */