/*! 1.4 */
.connect__gk {
  --heading-xl: 2.625rem;
  --heading-xl-lheight: 3rem;
  --heading-lg: 2.625rem;
  --heading-lg-lheight: 3rem;
  --heading-md: 2.625rem;
  --heading-md-lheight: 3rem;
  --heading-sm: 2.375rem;
  --heading-sm-lheight: 3rem;
  --body-lg: 2.375rem;
  --body-lg-lheight: 3rem;
  --body-lg-head-lheight: 3rem;
  --body-md: 1.875rem;
  --body-md-lheight: 2.875rem;
  --body-md-head-lheight: 2.375rem;
  --body-sm: 1.625rem;
  --body-sm-lheight: 2.5rem;
  --caption: 1.5rem;
  --caption-lheight: 2.25rem;
  --credits: 0.875rem;
  --credits-lheight: 1.375rem;
  --spacer-xl: 2.875rem;
  --spacer-lg: 2.1875rem;
  --spacer-md: 1.4375rem;
  --spacer-sm: 0.75rem;
  --spacer-xs: 0.375rem;
  --border-width: 0.375rem;
  --border-radius: 0.75rem;
}

@media (min-width: 40.625rem) {
  .connect__gk {
    --heading-xl: 3.75rem;
    --heading-xl-lheight: 4.25rem;
    --heading-lg: 3.375rem;
    --heading-lg-lheight: 3.875rem;
    --heading-md: 3.375rem;
    --heading-md-lheight: 3.875rem;
    --heading-sm: 3rem;
    --heading-sm-lheight: 3.75rem;
    --body-lg: 3rem;
    --body-lg-lheight: 3.75rem;
    --body-lg-head-lheight: 3.75rem;
    --body-md: 2.25rem;
    --body-md-lheight: 3.375rem;
    --body-md-head-lheight: 2.875rem;
    --body-sm: 1.875rem;
    --body-sm-lheight: 2.875rem;
    --caption: 1.625rem;
    --caption-lheight: 2.5rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 3.375rem;
    --spacer-lg: 2.5625rem;
    --spacer-md: 1.6875rem;
    --spacer-sm: 0.875rem;
    --spacer-xs: 0.4375rem;
  }
}
@media (min-width: 80rem) {
  .connect__gk {
    --heading-xl: 5.75rem;
    --heading-xl-lheight: 6.5rem;
    --heading-lg: 4.75rem;
    --heading-lg-lheight: 5.375rem;
    --heading-md: 4.75rem;
    --heading-md-lheight: 5.375rem;
    --heading-sm: 4rem;
    --heading-sm-lheight: 5rem;
    --body-lg: 4rem;
    --body-lg-lheight: 5rem;
    --body-lg-head-lheight: 5rem;
    --body-md: 2.75rem;
    --body-md-lheight: 4.125rem;
    --body-md-head-lheight: 3.5rem;
    --body-sm: 2.25rem;
    --body-sm-lheight: 3.375rem;
    --caption: 1.875rem;
    --caption-lheight: 2.875rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 4.125rem;
    --spacer-lg: 3.125rem;
    --spacer-md: 2.0625rem;
    --spacer-sm: 1.0625rem;
    --spacer-xs: 0.5rem;
  }
}
.connect__g1 {
  --heading-xl: 2.625rem;
  --heading-xl-lheight: 3rem;
  --heading-lg: 2.375rem;
  --heading-lg-lheight: 3rem;
  --heading-md: 2.125rem;
  --heading-md-lheight: 2.625rem;
  --heading-sm: 1.875rem;
  --heading-sm-lheight: 2.375rem;
  --body-lg: 1.875rem;
  --body-lg-lheight: 2.875rem;
  --body-lg-head-lheight: 2.375rem;
  --body-md: 1.625rem;
  --body-md-lheight: 2.5rem;
  --body-md-head-lheight: 2.125rem;
  --body-sm: 1.5rem;
  --body-sm-lheight: 2.25rem;
  --caption: 1.375rem;
  --caption-lheight: 2.125rem;
  --credits: 0.875rem;
  --credits-lheight: 1.375rem;
  --spacer-xl: 2.5rem;
  --spacer-lg: 1.875rem;
  --spacer-md: 1.25rem;
  --spacer-sm: 0.625rem;
  --spacer-xs: 0.3125rem;
  --border-width: 0.3125rem;
  --border-radius: 0.625rem;
}

@media (min-width: 40.625rem) {
  .connect__g1 {
    --heading-xl: 3.75rem;
    --heading-xl-lheight: 4.25rem;
    --heading-lg: 3rem;
    --heading-lg-lheight: 3.75rem;
    --heading-md: 2.625rem;
    --heading-md-lheight: 3.25rem;
    --heading-sm: 2.25rem;
    --heading-sm-lheight: 2.875rem;
    --body-lg: 2.25rem;
    --body-lg-lheight: 3.375rem;
    --body-lg-head-lheight: 2.875rem;
    --body-md: 1.875rem;
    --body-md-lheight: 2.875rem;
    --body-md-head-lheight: 2.375rem;
    --body-sm: 1.625rem;
    --body-sm-lheight: 2.5rem;
    --caption: 1.5rem;
    --caption-lheight: 2.25rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 2.875rem;
    --spacer-lg: 2.1875rem;
    --spacer-md: 1.4375rem;
    --spacer-sm: 0.75rem;
    --spacer-xs: 0.375rem;
  }
}
@media (min-width: 80rem) {
  .connect__g1 {
    --heading-xl: 5.75rem;
    --heading-xl-lheight: 6.5rem;
    --heading-lg: 4rem;
    --heading-lg-lheight: 5rem;
    --heading-md: 3.25rem;
    --heading-md-lheight: 4.125rem;
    --heading-sm: 2.75rem;
    --heading-sm-lheight: 3.5rem;
    --body-lg: 2.75rem;
    --body-lg-lheight: 4.125rem;
    --body-lg-head-lheight: 3.5rem;
    --body-md: 2.25rem;
    --body-md-lheight: 3.375rem;
    --body-md-head-lheight: 2.875rem;
    --body-sm: 1.875rem;
    --body-sm-lheight: 2.875rem;
    --caption: 1.6875rem;
    --caption-lheight: 2.625rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 3.375rem;
    --spacer-lg: 2.5625rem;
    --spacer-md: 1.6875rem;
    --spacer-sm: 0.875rem;
    --spacer-xs: 0.4375rem;
  }
}
.connect__g23 {
  --heading-xl: 2.625rem;
  --heading-xl-lheight: 3rem;
  --heading-lg: 2.375rem;
  --heading-lg-lheight: 3rem;
  --heading-md: 1.875rem;
  --heading-md-lheight: 2.375rem;
  --heading-sm: 1.875rem;
  --heading-sm-lheight: 2.375rem;
  --body-lg: 1.5rem;
  --body-lg-lheight: 2.25rem;
  --body-lg-head-lheight: 1.875rem;
  --body-md: 1.375rem;
  --body-md-lheight: 2.125rem;
  --body-md-head-lheight: 1.75rem;
  --body-sm: 1.3125rem;
  --body-sm-lheight: 2rem;
  --caption: 1.25rem;
  --caption-lheight: 1.875rem;
  --credits: 0.875rem;
  --credits-lheight: 1.375rem;
  --spacer-xl: 2.125rem;
  --spacer-lg: 1.625rem;
  --spacer-md: 1.0625rem;
  --spacer-sm: 0.5625rem;
  --spacer-xs: 0.25rem;
  --border-width: 0.25rem;
  --border-radius: 0.5rem;
}

@media (min-width: 40.625rem) {
  .connect__g23 {
    --heading-xl: 3.75rem;
    --heading-xl-lheight: 4.25rem;
    --heading-lg: 3rem;
    --heading-lg-lheight: 3.75rem;
    --heading-md: 2.25rem;
    --heading-md-lheight: 2.875rem;
    --heading-sm: 2.25rem;
    --heading-sm-lheight: 2.875rem;
    --body-lg: 1.625rem;
    --body-lg-lheight: 2.5rem;
    --body-lg-head-lheight: 2.125rem;
    --body-md: 1.5rem;
    --body-md-lheight: 2.25rem;
    --body-md-head-lheight: 1.875rem;
    --body-sm: 1.375rem;
    --body-sm-lheight: 2.125rem;
    --caption: 1.3125rem;
    --caption-lheight: 2rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 2.25rem;
    --spacer-lg: 1.6875rem;
    --spacer-md: 1.125rem;
    --spacer-sm: 0.5625rem;
    --spacer-xs: 0.3125rem;
  }
}
@media (min-width: 80rem) {
  .connect__g23 {
    --heading-xl: 5.75rem;
    --heading-xl-lheight: 6.5rem;
    --heading-lg: 4rem;
    --heading-lg-lheight: 5rem;
    --heading-md: 2.75rem;
    --heading-md-lheight: 3.5rem;
    --heading-sm: 2.75rem;
    --heading-sm-lheight: 3.5rem;
    --body-lg: 1.875rem;
    --body-lg-lheight: 2.875rem;
    --body-lg-head-lheight: 2.375rem;
    --body-md: 1.6875rem;
    --body-md-lheight: 2.625rem;
    --body-md-head-lheight: 2.125rem;
    --body-sm: 1.5rem;
    --body-sm-lheight: 2.25rem;
    --caption: 1.375rem;
    --caption-lheight: 2.125rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 2.625rem;
    --spacer-lg: 2rem;
    --spacer-md: 1.3125rem;
    --spacer-sm: 0.6875rem;
    --spacer-xs: 0.3125rem;
  }
}
.connect__g45 {
  --heading-xl: 2.625rem;
  --heading-xl-lheight: 3rem;
  --heading-lg: 2.375rem;
  --heading-lg-lheight: 3rem;
  --heading-md: 2.125rem;
  --heading-md-lheight: 2.625rem;
  --heading-sm: 1.625rem;
  --heading-sm-lheight: 2.125rem;
  --body-lg: 1.375rem;
  --body-lg-lheight: 2.125rem;
  --body-lg-head-lheight: 1.75rem;
  --body-md: 1.3125rem;
  --body-md-lheight: 2rem;
  --body-md-head-lheight: 2rem;
  --body-sm: 1.25rem;
  --body-sm-lheight: 1.875rem;
  --caption: 1.1875rem;
  --caption-lheight: 1.875rem;
  --credits: 0.875rem;
  --credits-lheight: 1.375rem;
  --spacer-xl: 2rem;
  --spacer-lg: 1.5rem;
  --spacer-md: 1rem;
  --spacer-sm: 0.5rem;
  --spacer-xs: 0.25rem;
  --border-width: 0.1875rem;
  --border-radius: 0.375rem;
}

@media (min-width: 40.625rem) {
  .connect__g45 {
    --heading-xl: 3.75rem;
    --heading-xl-lheight: 4.25rem;
    --heading-lg: 3rem;
    --heading-lg-lheight: 3.75rem;
    --heading-md: 2.625rem;
    --heading-md-lheight: 3.25rem;
    --heading-sm: 1.875rem;
    --heading-sm-lheight: 2.375rem;
    --body-lg: 1.5rem;
    --body-lg-lheight: 2.25rem;
    --body-lg-head-lheight: 1.875rem;
    --body-md: 1.375rem;
    --body-md-lheight: 2.125rem;
    --body-md-head-lheight: 2.125rem;
    --body-sm: 1.3125rem;
    --body-sm-lheight: 2rem;
    --caption: 1.25rem;
    --caption-lheight: 1.875rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 2.125rem;
    --spacer-lg: 1.625rem;
    --spacer-md: 1.0625rem;
    --spacer-sm: 0.5625rem;
    --spacer-xs: 0.25rem;
  }
}
@media (min-width: 80rem) {
  .connect__g45 {
    --heading-xl: 5.75rem;
    --heading-xl-lheight: 6.5rem;
    --heading-lg: 4rem;
    --heading-lg-lheight: 5rem;
    --heading-md: 3.25rem;
    --heading-md-lheight: 4.125rem;
    --heading-sm: 2.25rem;
    --heading-sm-lheight: 2.875rem;
    --body-lg: 1.6875rem;
    --body-lg-lheight: 2.625rem;
    --body-lg-head-lheight: 2.125rem;
    --body-md: 1.5rem;
    --body-md-lheight: 2.25rem;
    --body-md-head-lheight: 2.25rem;
    --body-sm: 1.375rem;
    --body-sm-lheight: 2.125rem;
    --caption: 1.25rem;
    --caption-lheight: 1.875rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 2.25rem;
    --spacer-lg: 1.6875rem;
    --spacer-md: 1.125rem;
    --spacer-sm: 0.5625rem;
    --spacer-xs: 0.3125rem;
  }
}
.connect__g68 {
  --heading-xl: 2.625rem;
  --heading-xl-lheight: 3rem;
  --heading-lg: 2.375rem;
  --heading-lg-lheight: 3rem;
  --heading-md: 1.875rem;
  --heading-md-lheight: 2.375rem;
  --heading-sm: 1.5rem;
  --heading-sm-lheight: 1.875rem;
  --body-lg: 1.3125rem;
  --body-lg-lheight: 2rem;
  --body-lg-head-lheight: 2rem;
  --body-md: 1.25rem;
  --body-md-lheight: 1.875rem;
  --body-md-head-lheight: 1.875rem;
  --body-sm: 1.1875rem;
  --body-sm-lheight: 1.875rem;
  --caption: 1.0625rem;
  --caption-lheight: 1.625rem;
  --credits: 0.875rem;
  --credits-lheight: 1.375rem;
  --spacer-xl: 1.875rem;
  --spacer-lg: 1.4375rem;
  --spacer-md: 0.9375rem;
  --spacer-sm: 0.5rem;
  --spacer-xs: 0.25rem;
  --border-width: 0.125rem;
  --border-radius: 0.25rem;
}

@media (min-width: 40.625rem) {
  .connect__g68 {
    --heading-xl: 3.75rem;
    --heading-xl-lheight: 4.25rem;
    --heading-lg: 3rem;
    --heading-lg-lheight: 3.75rem;
    --heading-md: 2.25rem;
    --heading-md-lheight: 2.875rem;
    --heading-sm: 1.625rem;
    --heading-sm-lheight: 2.125rem;
    --body-lg: 1.375rem;
    --body-lg-lheight: 2.125rem;
    --body-lg-head-lheight: 2.125rem;
    --body-md: 1.3125rem;
    --body-md-lheight: 2rem;
    --body-md-head-lheight: 2rem;
    --body-sm: 1.25rem;
    --body-sm-lheight: 1.875rem;
    --caption: 1.125rem;
    --caption-lheight: 1.75rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 2rem;
    --spacer-lg: 1.5rem;
    --spacer-md: 1rem;
    --spacer-sm: 0.5rem;
    --spacer-xs: 0.25rem;
  }
}
@media (min-width: 80rem) {
  .connect__g68 {
    --heading-xl: 5.75rem;
    --heading-xl-lheight: 6.5rem;
    --heading-lg: 4rem;
    --heading-lg-lheight: 5rem;
    --heading-md: 2.75rem;
    --heading-md-lheight: 3.5rem;
    --heading-sm: 1.875rem;
    --heading-sm-lheight: 2.375rem;
    --body-lg: 1.5rem;
    --body-lg-lheight: 2.25rem;
    --body-lg-head-lheight: 2.25rem;
    --body-md: 1.375rem;
    --body-md-lheight: 2.125rem;
    --body-md-head-lheight: 2.125rem;
    --body-sm: 1.25rem;
    --body-sm-lheight: 1.875rem;
    --caption: 1.125rem;
    --caption-lheight: 1.75rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 2.125rem;
    --spacer-lg: 1.625rem;
    --spacer-md: 1.0625rem;
    --spacer-sm: 0.5625rem;
    --spacer-xs: 0.25rem;
  }
}
.connect__g912 {
  --heading-xl: 2.625rem;
  --heading-xl-lheight: 3rem;
  --heading-lg: 2.125rem;
  --heading-lg-lheight: 2.625rem;
  --heading-md: 1.875rem;
  --heading-md-lheight: 2.375rem;
  --heading-sm: 1.5rem;
  --heading-sm-lheight: 1.875rem;
  --body-lg: 1.3125rem;
  --body-lg-lheight: 2rem;
  --body-lg-head-lheight: 2rem;
  --body-md: 1.1875rem;
  --body-md-lheight: 1.875rem;
  --body-md-head-lheight: 1.875rem;
  --body-sm: 1.0625rem;
  --body-sm-lheight: 1.625rem;
  --caption: 1rem;
  --caption-lheight: 1.5rem;
  --credits: 0.875rem;
  --credits-lheight: 1.375rem;
  --spacer-xl: 1.875rem;
  --spacer-lg: 1.4375rem;
  --spacer-md: 0.9375rem;
  --spacer-sm: 0.5rem;
  --spacer-xs: 0.25rem;
  --border-width: 0.0625rem;
  --border-radius: 0.125rem;
}

@media (min-width: 40.625rem) {
  .connect__g912 {
    --heading-xl: 3.375rem;
    --heading-xl-lheight: 3.875rem;
    --heading-lg: 2.625rem;
    --heading-lg-lheight: 3.25rem;
    --heading-md: 2.25rem;
    --heading-md-lheight: 2.875rem;
    --heading-sm: 1.625rem;
    --heading-sm-lheight: 2.125rem;
    --body-lg: 1.375rem;
    --body-lg-lheight: 2.125rem;
    --body-lg-head-lheight: 2.125rem;
    --body-md: 1.25rem;
    --body-md-lheight: 1.875rem;
    --body-md-head-lheight: 1.875rem;
    --body-sm: 1.125rem;
    --body-sm-lheight: 1.75rem;
    --caption: 1rem;
    --caption-lheight: 1.5rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 1.875rem;
    --spacer-lg: 1.4375rem;
    --spacer-md: 0.9375rem;
    --spacer-sm: 0.5rem;
    --spacer-xs: 0.25rem;
  }
}
@media (min-width: 80rem) {
  .connect__g912 {
    --heading-xl: 4.75rem;
    --heading-xl-lheight: 5.375rem;
    --heading-lg: 3.25rem;
    --heading-lg-lheight: 4.125rem;
    --heading-md: 2.75rem;
    --heading-md-lheight: 3.5rem;
    --heading-sm: 1.875rem;
    --heading-sm-lheight: 2.375rem;
    --body-lg: 1.5rem;
    --body-lg-lheight: 2.25rem;
    --body-lg-head-lheight: 2.25rem;
    --body-md: 1.25rem;
    --body-md-lheight: 1.875rem;
    --body-md-head-lheight: 1.875rem;
    --body-sm: 1.125rem;
    --body-sm-lheight: 1.75rem;
    --caption: 1rem;
    --caption-lheight: 1.5rem;
    --credits: 0.875rem;
    --credits-lheight: 1.375rem;
    --spacer-xl: 1.875rem;
    --spacer-lg: 1.4375rem;
    --spacer-md: 0.9375rem;
    --spacer-sm: 0.5rem;
    --spacer-xs: 0.25rem;
  }
}
:root {
  --connect__bp-xs: 20rem;
  --connect__bp-sm: 30rem;
  --connect__bp-md: 40.625rem;
  --connect__bp-lg: 55rem;
  --connect__bp-xl: 80rem;
  --connect__font-sans: "Source Sans Pro", "Helvetica", "Verdana", sans-serif;
  --connect__font-serif: "Source Serif Pro", "Times New Roman", serif;
  --connect__font-mono: "Source Code Pro", "Courier", "Courier New", monospace;
  --connect__yellow-c70: rgb(68, 56, 8);
  --connect__yellow-c65: rgb(94, 77, 8);
  --connect__yellow-c60: rgb(107, 87, 6);
  --connect__yellow-c55: rgb(122, 101, 5);
  --connect__yellow-c50: rgb(138, 115, 0);
  --connect__yellow-c45: rgb(156, 130, 0);
  --connect__yellow-c40: rgb(173, 147, 0);
  --connect__yellow-c35: rgb(212, 182, 15);
  --connect__yellow-c30: rgb(229, 203, 30);
  --connect__yellow-c25: rgb(245, 218, 44);
  --connect__yellow-c20: rgb(250, 229, 70);
  --connect__yellow-c15: rgb(252, 239, 121);
  --connect__yellow-c10: rgb(252, 246, 169);
  --connect__yellow-c5: rgb(255, 252, 204);
  --connect__golden-c70: rgb(77, 44, 11);
  --connect__golden-c65: rgb(97, 60, 12);
  --connect__golden-c60: rgb(122, 75, 9);
  --connect__golden-c55: rgb(145, 80, 0);
  --connect__golden-c50: rgb(158, 109, 30);
  --connect__golden-c45: rgb(181, 125, 34);
  --connect__golden-c40: rgb(194, 137, 31);
  --connect__golden-c35: rgb(212, 159, 36);
  --connect__golden-c30: rgb(222, 168, 42);
  --connect__golden-c25: rgb(232, 181, 60);
  --connect__golden-c20: rgb(240, 197, 96);
  --connect__golden-c15: rgb(245, 213, 140);
  --connect__golden-c10: rgb(247, 229, 178);
  --connect__golden-c5: rgb(255, 245, 217);
  --connect__orange-c70: rgb(87, 31, 8);
  --connect__orange-c65: rgb(112, 49, 17);
  --connect__orange-c60: rgb(145, 61, 12);
  --connect__orange-c55: rgb(173, 76, 10);
  --connect__orange-c50: rgb(186, 91, 2);
  --connect__orange-c45: rgb(212, 114, 11);
  --connect__orange-c40: rgb(222, 124, 20);
  --connect__orange-c35: rgb(237, 145, 47);
  --connect__orange-c30: rgb(245, 156, 61);
  --connect__orange-c25: rgb(250, 170, 85);
  --connect__orange-c20: rgb(252, 182, 101);
  --connect__orange-c15: rgb(252, 204, 149);
  --connect__orange-c10: rgb(255, 224, 189);
  --connect__orange-c5: rgb(255, 237, 217);
  --connect__red-c70: rgb(92, 6, 6);
  --connect__red-c65: rgb(125, 0, 0);
  --connect__red-c60: rgb(163, 3, 3);
  --connect__red-c55: rgb(191, 19, 19);
  --connect__red-c50: rgb(214, 36, 36);
  --connect__red-c45: rgb(229, 67, 67);
  --connect__red-c40: rgb(240, 84, 84);
  --connect__red-c35: rgb(245, 100, 100);
  --connect__red-c30: rgb(247, 116, 116);
  --connect__red-c25: rgb(250, 130, 130);
  --connect__red-c20: rgb(250, 157, 157);
  --connect__red-c15: rgb(255, 184, 184);
  --connect__red-c10: rgb(255, 214, 212);
  --connect__red-c5: rgb(255, 232, 232);
  --connect__cerise-c70: rgb(97, 0, 48);
  --connect__cerise-c65: rgb(133, 0, 69);
  --connect__cerise-c60: rgb(168, 8, 91);
  --connect__cerise-c55: rgb(189, 34, 114);
  --connect__cerise-c50: rgb(209, 52, 133);
  --connect__cerise-c45: rgb(227, 75, 151);
  --connect__cerise-c40: rgb(237, 100, 161);
  --connect__cerise-c35: rgb(247, 111, 173);
  --connect__cerise-c30: rgb(250, 137, 192);
  --connect__cerise-c25: rgb(255, 140, 190);
  --connect__cerise-c20: rgb(250, 160, 206);
  --connect__cerise-c15: rgb(255, 191, 224);
  --connect__cerise-c10: rgb(255, 222, 239);
  --connect__cerise-c5: rgb(255, 235, 248);
  --connect__purple-c70: rgb(64, 29, 82);
  --connect__purple-c65: rgb(86, 40, 122);
  --connect__purple-c60: rgb(111, 55, 153);
  --connect__purple-c55: rgb(133, 63, 186);
  --connect__purple-c50: rgb(141, 76, 199);
  --connect__purple-c45: rgb(151, 93, 217);
  --connect__purple-c40: rgb(162, 112, 223);
  --connect__purple-c35: rgb(173, 124, 242);
  --connect__purple-c30: rgb(181, 139, 239);
  --connect__purple-c25: rgb(188, 151, 240);
  --connect__purple-c20: rgb(201, 169, 245);
  --connect__purple-c15: rgb(221, 196, 255);
  --connect__purple-c10: rgb(233, 220, 252);
  --connect__purple-c5: rgb(245, 237, 255);
  --connect__blue-c70: rgb(0, 49, 105);
  --connect__blue-c65: rgb(0, 62, 133);
  --connect__blue-c60: rgb(0, 79, 168);
  --connect__blue-c55: rgb(6, 94, 194);
  --connect__blue-c50: rgb(0, 114, 219);
  --connect__blue-c45: rgb(17, 131, 237);
  --connect__blue-c40: rgb(35, 144, 247);
  --connect__blue-c35: rgb(59, 159, 255);
  --connect__blue-c30: rgb(79, 165, 255);
  --connect__blue-c25: rgb(100, 176, 255);
  --connect__blue-c20: rgb(134, 193, 255);
  --connect__blue-c15: rgb(175, 214, 255);
  --connect__blue-c10: rgb(206, 230, 255);
  --connect__blue-c5: rgb(234, 244, 255);
  --connect__aqua-c70: rgb(0, 61, 79);
  --connect__aqua-c65: rgb(0, 74, 97);
  --connect__aqua-c60: rgb(0, 94, 122);
  --connect__aqua-c55: rgb(15, 109, 140);
  --connect__aqua-c50: rgb(18, 126, 153);
  --connect__aqua-c45: rgb(7, 147, 179);
  --connect__aqua-c40: rgb(15, 163, 189);
  --connect__aqua-c35: rgb(38, 177, 201);
  --connect__aqua-c30: rgb(78, 187, 207);
  --connect__aqua-c25: rgb(103, 202, 219);
  --connect__aqua-c20: rgb(131, 211, 229);
  --connect__aqua-c15: rgb(167, 223, 235);
  --connect__aqua-c10: rgb(203, 237, 242);
  --connect__aqua-c5: rgb(227, 247, 250);
  --connect__turquoise-c70: rgb(5, 66, 64);
  --connect__turquoise-c65: rgb(13, 79, 76);
  --connect__turquoise-c60: rgb(16, 99, 97);
  --connect__turquoise-c55: rgb(17, 115, 112);
  --connect__turquoise-c50: rgb(18, 130, 122);
  --connect__turquoise-c45: rgb(20, 150, 144);
  --connect__turquoise-c40: rgb(20, 166, 158);
  --connect__turquoise-c35: rgb(46, 184, 172);
  --connect__turquoise-c30: rgb(77, 196, 182);
  --connect__turquoise-c25: rgb(105, 209, 197);
  --connect__turquoise-c20: rgb(137, 217, 205);
  --connect__turquoise-c15: rgb(172, 227, 218);
  --connect__turquoise-c10: rgb(203, 242, 234);
  --connect__turquoise-c5: rgb(227, 250, 245);
  --connect__green-c70: rgb(12, 66, 7);
  --connect__green-c65: rgb(20, 84, 10);
  --connect__green-c60: rgb(21, 102, 12);
  --connect__green-c55: rgb(25, 120, 17);
  --connect__green-c50: rgb(47, 135, 23);
  --connect__green-c45: rgb(62, 150, 26);
  --connect__green-c40: rgb(80, 168, 42);
  --connect__green-c35: rgb(103, 181, 67);
  --connect__green-c30: rgb(121, 199, 86);
  --connect__green-c25: rgb(145, 219, 105);
  --connect__green-c20: rgb(162, 224, 128);
  --connect__green-c15: rgb(182, 237, 149);
  --connect__green-c10: rgb(216, 247, 198);
  --connect__green-c5: rgb(235, 250, 225);
  --connect__apple-c70: rgb(42, 64, 10);
  --connect__apple-c65: rgb(55, 79, 13);
  --connect__apple-c60: rgb(66, 97, 14);
  --connect__apple-c55: rgb(82, 115, 16);
  --connect__apple-c50: rgb(92, 130, 17);
  --connect__apple-c45: rgb(114, 150, 23);
  --connect__apple-c40: rgb(125, 161, 27);
  --connect__apple-c35: rgb(155, 186, 61);
  --connect__apple-c30: rgb(171, 201, 81);
  --connect__apple-c25: rgb(186, 214, 103);
  --connect__apple-c20: rgb(200, 227, 120);
  --connect__apple-c15: rgb(216, 237, 154);
  --connect__apple-c10: rgb(230, 245, 181);
  --connect__apple-c5: rgb(242, 250, 217);
  --connect__gray-c70: rgb(45, 45, 45);
  --connect__gray-c65: rgb(66, 66, 66);
  --connect__gray-c60: rgb(86, 87, 87);
  --connect__gray-c55: rgb(93, 95, 95);
  --connect__gray-c50: rgb(106, 109, 109);
  --connect__gray-c45: rgb(127, 130, 130);
  --connect__gray-c40: rgb(137, 141, 141);
  --connect__gray-c35: rgb(160, 162, 162);
  --connect__gray-c30: rgb(178, 178, 178);
  --connect__gray-c25: rgb(191, 192, 192);
  --connect__gray-c20: rgb(203, 205, 207);
  --connect__gray-c15: rgb(220, 220, 220);
  --connect__gray-c10: rgb(237, 237, 237);
  --connect__gray-c5: rgb(247, 247, 248);
  --connect__cool-gray-c70: rgb(61, 63, 63);
  --connect__cool-gray-c65: rgb(76, 78, 80);
  --connect__cool-gray-c60: rgb(84, 88, 90);
  --connect__cool-gray-c55: rgb(98, 103, 107);
  --connect__cool-gray-c50: rgb(111, 117, 122);
  --connect__cool-gray-c45: rgb(124, 131, 136);
  --connect__cool-gray-c40: rgb(137, 145, 150);
  --connect__cool-gray-c35: rgb(152, 159, 163);
  --connect__cool-gray-c30: rgb(166, 173, 177);
  --connect__cool-gray-c25: rgb(179, 186, 189);
  --connect__cool-gray-c20: rgb(192, 198, 200);
  --connect__cool-gray-c15: rgb(213, 218, 220);
  --connect__cool-gray-c10: rgb(232, 236, 237);
  --connect__cool-gray-c5: rgb(244, 244, 244);
  --connect__warm-gray-c70: rgb(60, 53, 48);
  --connect__warm-gray-c65: rgb(76, 69, 65);
  --connect__warm-gray-c60: rgb(91, 83, 79);
  --connect__warm-gray-c55: rgb(107, 97, 92);
  --connect__warm-gray-c50: rgb(127, 114, 107);
  --connect__warm-gray-c45: rgb(141, 127, 118);
  --connect__warm-gray-c40: rgb(155, 139, 129);
  --connect__warm-gray-c35: rgb(166, 153, 144);
  --connect__warm-gray-c30: rgb(178, 167, 159);
  --connect__warm-gray-c25: rgb(189, 179, 172);
  --connect__warm-gray-c20: rgb(206, 196, 191);
  --connect__warm-gray-c15: rgb(222, 214, 209);
  --connect__warm-gray-c10: rgb(239, 236, 234);
  --connect__warm-gray-c5: rgb(247, 245, 242);
  --connect__yellow-m70: rgb(72, 52, 0);
  --connect__yellow-m65: rgb(93, 72, 9);
  --connect__yellow-m60: rgb(104, 83, 14);
  --connect__yellow-m55: rgb(120, 95, 12);
  --connect__yellow-m50: rgb(142, 112, 11);
  --connect__yellow-m45: rgb(156, 124, 19);
  --connect__yellow-m40: rgb(179, 143, 25);
  --connect__yellow-m35: rgb(215, 172, 29);
  --connect__yellow-m30: rgb(226, 188, 65);
  --connect__yellow-m25: rgb(237, 208, 102);
  --connect__yellow-m20: rgb(240, 216, 131);
  --connect__yellow-m15: rgb(243, 224, 161);
  --connect__yellow-m10: rgb(242, 232, 189);
  --connect__yellow-m5: rgb(247, 242, 217);
  --connect__golden-m70: rgb(77, 40, 0);
  --connect__golden-m65: rgb(100, 56, 7);
  --connect__golden-m60: rgb(117, 69, 15);
  --connect__golden-m55: rgb(135, 86, 25);
  --connect__golden-m50: rgb(150, 97, 30);
  --connect__golden-m45: rgb(167, 116, 37);
  --connect__golden-m40: rgb(185, 133, 46);
  --connect__golden-m35: rgb(204, 151, 55);
  --connect__golden-m30: rgb(217, 169, 72);
  --connect__golden-m25: rgb(224, 184, 105);
  --connect__golden-m20: rgb(229, 196, 135);
  --connect__golden-m15: rgb(235, 207, 163);
  --connect__golden-m10: rgb(243, 223, 189);
  --connect__golden-m5: rgb(245, 233, 215);
  --connect__orange-m70: rgb(81, 16, 0);
  --connect__orange-m65: rgb(110, 47, 0);
  --connect__orange-m60: rgb(130, 58, 1);
  --connect__orange-m55: rgb(153, 68, 6);
  --connect__orange-m50: rgb(170, 82, 15);
  --connect__orange-m45: rgb(190, 94, 20);
  --connect__orange-m40: rgb(201, 108, 33);
  --connect__orange-m35: rgb(218, 123, 54);
  --connect__orange-m30: rgb(225, 138, 70);
  --connect__orange-m25: rgb(231, 155, 98);
  --connect__orange-m20: rgb(235, 174, 128);
  --connect__orange-m15: rgb(240, 195, 155);
  --connect__orange-m10: rgb(245, 214, 189);
  --connect__orange-m5: rgb(247, 229, 214);
  --connect__red-m70: rgb(85, 2, 17);
  --connect__red-m65: rgb(118, 4, 32);
  --connect__red-m60: rgb(144, 7, 38);
  --connect__red-m55: rgb(166, 13, 45);
  --connect__red-m50: rgb(181, 17, 50);
  --connect__red-m45: rgb(192, 35, 59);
  --connect__red-m40: rgb(209, 56, 77);
  --connect__red-m35: rgb(225, 74, 82);
  --connect__red-m30: rgb(231, 97, 94);
  --connect__red-m25: rgb(232, 120, 119);
  --connect__red-m20: rgb(235, 148, 144);
  --connect__red-m15: rgb(236, 179, 174);
  --connect__red-m10: rgb(243, 206, 201);
  --connect__red-m5: rgb(243, 221, 218);
  --connect__cerise-m70: rgb(86, 2, 47);
  --connect__cerise-m65: rgb(107, 0, 60);
  --connect__cerise-m60: rgb(130, 0, 74);
  --connect__cerise-m55: rgb(146, 3, 87);
  --connect__cerise-m50: rgb(159, 5, 96);
  --connect__cerise-m45: rgb(172, 29, 110);
  --connect__cerise-m40: rgb(189, 51, 129);
  --connect__cerise-m35: rgb(198, 75, 146);
  --connect__cerise-m30: rgb(211, 99, 159);
  --connect__cerise-m25: rgb(220, 121, 171);
  --connect__cerise-m20: rgb(233, 147, 184);
  --connect__cerise-m15: rgb(238, 179, 205);
  --connect__cerise-m10: rgb(244, 206, 224);
  --connect__cerise-m5: rgb(246, 224, 233);
  --connect__purple-m70: rgb(55, 5, 87);
  --connect__purple-m65: rgb(73, 29, 105);
  --connect__purple-m60: rgb(82, 40, 113);
  --connect__purple-m55: rgb(97, 47, 124);
  --connect__purple-m50: rgb(108, 56, 131);
  --connect__purple-m45: rgb(119, 65, 141);
  --connect__purple-m40: rgb(132, 84, 159);
  --connect__purple-m35: rgb(139, 103, 168);
  --connect__purple-m30: rgb(154, 121, 179);
  --connect__purple-m25: rgb(168, 141, 188);
  --connect__purple-m20: rgb(182, 159, 199);
  --connect__purple-m15: rgb(200, 182, 213);
  --connect__purple-m10: rgb(212, 204, 225);
  --connect__purple-m5: rgb(230, 224, 236);
  --connect__blue-m70: rgb(3, 38, 92);
  --connect__blue-m65: rgb(10, 51, 107);
  --connect__blue-m60: rgb(23, 66, 123);
  --connect__blue-m55: rgb(25, 79, 137);
  --connect__blue-m50: rgb(40, 90, 146);
  --connect__blue-m45: rgb(57, 100, 155);
  --connect__blue-m40: rgb(73, 119, 172);
  --connect__blue-m35: rgb(98, 132, 180);
  --connect__blue-m30: rgb(116, 148, 195);
  --connect__blue-m25: rgb(132, 161, 204);
  --connect__blue-m20: rgb(152, 174, 212);
  --connect__blue-m15: rgb(177, 195, 223);
  --connect__blue-m10: rgb(204, 214, 233);
  --connect__blue-m5: rgb(222, 228, 242);
  --connect__aqua-m70: rgb(0, 54, 72);
  --connect__aqua-m65: rgb(0, 67, 86);
  --connect__aqua-m60: rgb(5, 82, 105);
  --connect__aqua-m55: rgb(6, 93, 120);
  --connect__aqua-m50: rgb(22, 104, 130);
  --connect__aqua-m45: rgb(30, 115, 141);
  --connect__aqua-m40: rgb(32, 133, 160);
  --connect__aqua-m35: rgb(57, 150, 177);
  --connect__aqua-m30: rgb(84, 162, 190);
  --connect__aqua-m25: rgb(112, 176, 200);
  --connect__aqua-m20: rgb(134, 192, 212);
  --connect__aqua-m15: rgb(160, 204, 223);
  --connect__aqua-m10: rgb(190, 224, 240);
  --connect__aqua-m5: rgb(214, 234, 246);
  --connect__turquoise-m70: rgb(0, 61, 51);
  --connect__turquoise-m65: rgb(1, 72, 65);
  --connect__turquoise-m60: rgb(5, 90, 82);
  --connect__turquoise-m55: rgb(14, 104, 95);
  --connect__turquoise-m50: rgb(25, 116, 107);
  --connect__turquoise-m45: rgb(32, 130, 124);
  --connect__turquoise-m40: rgb(48, 146, 140);
  --connect__turquoise-m35: rgb(67, 159, 151);
  --connect__turquoise-m30: rgb(91, 173, 164);
  --connect__turquoise-m25: rgb(119, 185, 175);
  --connect__turquoise-m20: rgb(137, 198, 189);
  --connect__turquoise-m15: rgb(164, 210, 201);
  --connect__turquoise-m10: rgb(195, 224, 219);
  --connect__turquoise-m5: rgb(220, 236, 236);
  --connect__green-m70: rgb(0, 62, 34);
  --connect__green-m65: rgb(2, 77, 45);
  --connect__green-m60: rgb(9, 92, 56);
  --connect__green-m55: rgb(19, 108, 65);
  --connect__green-m50: rgb(36, 121, 78);
  --connect__green-m45: rgb(47, 132, 89);
  --connect__green-m40: rgb(64, 149, 102);
  --connect__green-m35: rgb(82, 161, 117);
  --connect__green-m30: rgb(103, 176, 133);
  --connect__green-m25: rgb(122, 188, 146);
  --connect__green-m20: rgb(146, 199, 164);
  --connect__green-m15: rgb(171, 212, 184);
  --connect__green-m10: rgb(198, 225, 206);
  --connect__green-m5: rgb(221, 235, 226);
  --connect__apple-m70: rgb(24, 61, 21);
  --connect__apple-m65: rgb(34, 81, 31);
  --connect__apple-m60: rgb(48, 89, 34);
  --connect__apple-m55: rgb(65, 108, 45);
  --connect__apple-m50: rgb(76, 119, 50);
  --connect__apple-m45: rgb(96, 138, 65);
  --connect__apple-m40: rgb(109, 149, 79);
  --connect__apple-m35: rgb(122, 164, 94);
  --connect__apple-m30: rgb(140, 176, 108);
  --connect__apple-m25: rgb(153, 187, 123);
  --connect__apple-m20: rgb(169, 200, 147);
  --connect__apple-m15: rgb(187, 212, 163);
  --connect__apple-m10: rgb(208, 225, 193);
  --connect__apple-m5: rgb(224, 235, 218);
  --connect__yellow-s10: rgb(255, 251, 179);
  --connect__yellow-s15: rgb(255, 248, 117);
  --connect__yellow-s20: rgb(255, 242, 0);
  --connect__yellow-s25: rgb(242, 229, 0);
  --connect__yellow-s30: rgb(222, 207, 0);
  --connect__yellow-s35: rgb(193, 179, 0);
  --connect__yellow-s40: rgb(158, 148, 0);
  --connect__yellow-s45: rgb(144, 132, 0);
  --connect__yellow-s50: rgb(129, 118, 0);
  --connect__golden-s10: rgb(255, 229, 173);
  --connect__golden-s15: rgb(255, 215, 127);
  --connect__golden-s20: rgb(255, 200, 73);
  --connect__golden-s25: rgb(255, 187, 0);
  --connect__golden-s30: rgb(240, 173, 0);
  --connect__golden-s35: rgb(218, 155, 0);
  --connect__golden-s40: rgb(199, 136, 0);
  --connect__golden-s45: rgb(181, 115, 0);
  --connect__golden-s50: rgb(163, 103, 0);
  --connect__orange-s10: rgb(255, 224, 199);
  --connect__orange-s15: rgb(255, 198, 158);
  --connect__orange-s20: rgb(255, 171, 109);
  --connect__orange-s25: rgb(255, 148, 69);
  --connect__orange-s30: rgb(255, 132, 32);
  --connect__orange-s35: rgb(255, 120, 11);
  --connect__orange-s40: rgb(238, 107, 0);
  --connect__orange-s45: rgb(221, 96, 3);
  --connect__orange-s50: rgb(194, 84, 0);
  --connect__red-s10: rgb(255, 230, 230);
  --connect__red-s15: rgb(255, 204, 204);
  --connect__red-s20: rgb(255, 171, 171);
  --connect__red-s25: rgb(255, 144, 144);
  --connect__red-s30: rgb(255, 119, 119);
  --connect__red-s35: rgb(255, 88, 88);
  --connect__red-s40: rgb(255, 51, 51);
  --connect__red-s45: rgb(248, 8, 0);
  --connect__red-s50: rgb(235, 0, 0);
  --connect__cerise-s10: rgb(255, 230, 245);
  --connect__cerise-s15: rgb(255, 204, 235);
  --connect__cerise-s20: rgb(255, 166, 219);
  --connect__cerise-s25: rgb(255, 146, 211);
  --connect__cerise-s30: rgb(255, 117, 200);
  --connect__cerise-s35: rgb(255, 85, 187);
  --connect__cerise-s40: rgb(255, 46, 171);
  --connect__cerise-s45: rgb(242, 0, 172);
  --connect__cerise-s50: rgb(224, 0, 151);
  --connect__purple-s10: rgb(244, 230, 255);
  --connect__purple-s15: rgb(235, 209, 255);
  --connect__purple-s20: rgb(222, 179, 255);
  --connect__purple-s25: rgb(214, 160, 255);
  --connect__purple-s30: rgb(203, 136, 255);
  --connect__purple-s35: rgb(194, 108, 255);
  --connect__purple-s40: rgb(185, 93, 255);
  --connect__purple-s45: rgb(175, 70, 255);
  --connect__purple-s50: rgb(167, 51, 255);
  --connect__blue-s10: rgb(230, 240, 255);
  --connect__blue-s15: rgb(209, 228, 255);
  --connect__blue-s20: rgb(179, 210, 255);
  --connect__blue-s25: rgb(153, 196, 255);
  --connect__blue-s30: rgb(115, 173, 255);
  --connect__blue-s35: rgb(82, 154, 255);
  --connect__blue-s40: rgb(51, 136, 255);
  --connect__blue-s45: rgb(20, 118, 255);
  --connect__blue-s50: rgb(0, 106, 255);
  --connect__aqua-s10: rgb(217, 249, 255);
  --connect__aqua-s15: rgb(179, 242, 255);
  --connect__aqua-s20: rgb(130, 234, 255);
  --connect__aqua-s25: rgb(75, 219, 247);
  --connect__aqua-s30: rgb(35, 195, 235);
  --connect__aqua-s35: rgb(0, 174, 222);
  --connect__aqua-s40: rgb(0, 157, 209);
  --connect__aqua-s45: rgb(0, 138, 198);
  --connect__aqua-s50: rgb(0, 125, 179);
  --connect__turquoise-s10: rgb(217, 255, 246);
  --connect__turquoise-s15: rgb(181, 255, 242);
  --connect__turquoise-s20: rgb(133, 255, 235);
  --connect__turquoise-s25: rgb(18, 243, 224);
  --connect__turquoise-s30: rgb(0, 215, 207);
  --connect__turquoise-s35: rgb(0, 196, 195);
  --connect__turquoise-s40: rgb(0, 163, 163);
  --connect__turquoise-s45: rgb(0, 147, 147);
  --connect__turquoise-s50: rgb(0, 128, 128);
  --connect__green-s10: rgb(225, 250, 225);
  --connect__green-s15: rgb(191, 255, 191);
  --connect__green-s20: rgb(153, 255, 153);
  --connect__green-s25: rgb(109, 242, 109);
  --connect__green-s30: rgb(69, 229, 69);
  --connect__green-s35: rgb(0, 204, 0);
  --connect__green-s40: rgb(0, 173, 0);
  --connect__green-s45: rgb(0, 158, 0);
  --connect__green-s50: rgb(0, 138, 0);
  --connect__apple-s10: rgb(236, 255, 192);
  --connect__apple-s15: rgb(220, 255, 161);
  --connect__apple-s20: rgb(202, 255, 89);
  --connect__apple-s25: rgb(177, 236, 0);
  --connect__apple-s30: rgb(160, 214, 0);
  --connect__apple-s35: rgb(138, 184, 0);
  --connect__apple-s40: rgb(119, 158, 0);
  --connect__apple-s45: rgb(105, 140, 0);
  --connect__apple-s50: rgb(96, 128, 0);
  --connect__feedback-green: #008000;
  --connect__feedback-red: #e60000;
}

.connect__gk, .connect__g1, .connect__g23, .connect__g45, .connect__g68, .connect__g912 {
  font-size-adjust: ex-height 0.486;
}

* {
  font-size-adjust: ex-height 0.486;
}

.connect__h1 {
  margin-top: calc(var(--spacer-xl) * 3);
  font-size: var(--heading-xl);
  line-height: var(--heading-xl-lheight);
}

.connect__h2 {
  margin-top: calc(var(--spacer-xl) * 2 + var(--spacer-md));
  font-size: var(--heading-lg);
  line-height: var(--heading-lg-lheight);
}

.connect__h3 {
  margin-top: calc(var(--spacer-xl) * 2);
  font-size: var(--heading-md);
  line-height: var(--heading-md-lheight);
}

.connect__h4 {
  margin-top: calc(var(--spacer-xl) + var(--spacer-md));
  font-size: var(--heading-sm);
  line-height: var(--heading-sm-lheight);
}

.connect__h5 {
  margin-top: var(--spacer-xl);
  font-size: var(--body-lg);
  line-height: var(--body-lg-head-lheight);
}

.connect__h6 {
  margin-top: var(--spacer-md);
  font-size: var(--body-md);
  line-height: var(--body-md-head-lheight);
}

.connect__p,
.connect__li {
  font-size: var(--body-md);
  line-height: var(--body-md-lheight);
}

.connect__p,
.connect__ol,
.connect__ul {
  margin-top: var(--spacer-md);
}

.connect__h1,
.connect__h2,
.connect__h3,
.connect__h4,
.connect__h5,
.connect__h6 {
  hyphens: auto;
  text-wrap: balance;
}

/*# sourceMappingURL=source.css.map */
